CANARY_PUBLIC_IP=127.0.0.1
CANARY_DOMAINS=127.0.0.1
CANARY_NXDOMAINS=nx.127.0.0.1
#CANARY_SWITCHBOARD_SETTINGS_PATH=

CANARY_SENTRY_DSN="https://06a5bffddffd4d0f8a9b675ea82a5fb5@o1177763.ingest.sentry.io/6312922"
CANARY_SENTRY_ENVIRONMENT=local
CANARY_SENTRY_ENABLE=False

# template configurations
#CANARY_TEMPLATES_PATH=
#CANARY_STATIC_FILES_PATH=
#CANARY_STATIC_FILES_APPLICATION_SUB_PATH=
#CANARY_STATIC_FILES_APPLICATION_INTERNAL_NAME=

# upload settings
#CANARY_MAX_UPLOAD_SIZE=
CANARY_WEB_IMAGE_UPLOAD_PATH=../uploads

#CANARY_FRONTEND_LOG_SIZE=
#CANARY_FRONTEND_LOG_COUNT=

#CANARY_DEV_BUILD_ID=

# 3rd party settings
#CANARY_IPINFO_API_KEY=
CANARY_AWSID_URL="https://not-in-use.com/test"
#CANARY_TESTING_AWS_ACCESS_KEY_ID=
#CANARY_TESTING_AWS_SECRET_ACCESS_KEY=
#CANARY_TESTING_AWS_REGION=
#CANARY_TESTING_AWS_OUTPUT=
CANARY_AZURE_ID_TOKEN_URL="https://not-in-use.com/test"
CANARY_AZURE_ID_TOKEN_AUTH=""
CANARY_GOOGLE_API_KEY=UseAValidKey
#CANARY_EXTEND_EMAIL=
#CANARY_EXTEND_PASSWORD=
#CANARY_EXTEND_CARD_NAME=
