
      .hidden {
        display: none!important;
      }

      .step {
        border-bottom: 5px solid #fff;
        padding: 1rem 0rem;
      }

      .error-outline {
        outline: none;
        border-color: #1ecaed;
        box-shadow: 0 0 10px red;
      }

      .success-outline {
        outline: none;
        border-color: #1ecaed;
        box-shadow: 0 0 10px green;
      }

      a.fileupload-clear:hover {
        text-decoration: none;
      }

      .jumbotron {
        padding: 2rem 1rem;
        position: relative;
      }
      .create {
        z-index: 1;
        position: relative;
      }
      .create-hidden {
        transition:opacity 0.5s ease;
        opacity: 0.0;
      }

      .history-header {
        text-align:center;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #eceeef;
        border-radius: .3rem;
      }

      .details-header{
        padding:0.7rem;
        text-align: center;
      }

      .footer {
        text-align: center;
      }

      .incident-size{
        margin :0px auto;
        display: none;
      }

      .incident-list{
        overflow: auto;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .incident-item{
        width: 100%;
        transition:opacity 0.5s ease;
        background-color: aliceblue;
        color: darkslategrey;
        border-radius: .3rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
      }

      .incident-item-details{
        display:none;
        padding:1rem;
      }

      .incident-item:hover{
        outline: none;
        border-color: #1ecaed;
        box-shadow: 0 0 10px green;
      }

      .header_row{
        font-weight:bold;
      }

      .incident-item:first-child{
        margin-top:0.5rem;
      }

      .success {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.0;
        z-index: 0;
        transition:opacity 0.5s ease;
        background-color: aliceblue;
        color: darkslategrey;
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-radius: .3rem;
      }

      .success-visible {
        z-index: 2;
        opacity: 1.0;
      }

      .results {
        padding-top: 1rem;
      }
      input.form-control, input.fileupload, textarea {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
        color: #bbb;
      }
      input.form-control:-moz-placeholder, textarea.form-control:-moz-placeholder{
        color: #bbb;
      }
      input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
        color: #bbb;
      }
      input.form-control:placeholder, textarea.form-control:placeholder {
        color: #bbb;
      }

      .form-control {
        border: 2px solid #dadada;
        border-radius: 7px;
      }


      /*.form-control:hover {
        outline: none;
        border-color: #1ecaed;
        box-shadow: 0 0 10px #1ecaed;
      }*/

      .form-control:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
      }

      .step:last-child {
        border-bottom: none;
        padding-bottom: 0rem;
      }

      .wrapper-dropdown {
          /* Size & position */
          position: relative;
          margin: 0 auto;
          margin-bottom: 10px;
          padding: 12px 15px;

          /* Styles */
          background: #fff;
          border-radius: 5px;
          /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
          cursor: pointer;
          outline: none;
          transition: all 0.3s ease-out;
      }

      .wrapper-dropdown:after { /* Little arrow */
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -3px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: #4cbeff transparent;
      }
      .success-outline.wrapper-dropdown:after {
        border-color: green transparent;
      }

      .wrapper-dropdown .dropdown {
          /* Size & position */
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;

          /* Styles */
          background: #fff;
          border-radius: 0 0 5px 5px;
          border: 1px solid rgba(0,0,0,0.2);
          border-top: none;
          border-bottom: none;
          list-style: none;
          transition: all 0.3s ease-out;
          padding-left: 0px;

          /* Hiding */
          max-height: 0;
          overflow: hidden;
          z-index: 999;
      }

      .wrapper-dropdown .dropdown li {

      }

      .wrapper-dropdown .dropdown li a {
          display: block;
          text-decoration: none;
          color: #333;
          padding: 10px 0;
          transition: all 0.3s ease-out;
          border-bottom: 1px solid #e6e8ea;
      }

      .wrapper-dropdown .dropdown li:last-of-type a {
          border: none;
      }

      .wrapper-dropdown .dropdown li i {
          margin-right: 5px;
          color: inherit;
          vertical-align: middle;
      }

      /* Hover state */

      .wrapper-dropdown .dropdown li:hover a {
          color: #57a9d9;
          background-color: #eee;
      }

      .wrapper-dropdown.active {
          border-radius: 5px 5px 0 0;
          background: #4cbeff;
          box-shadow: none;
          border-bottom: 2px solid #eceeef;
          color: white;
      }

      .wrapper-dropdown.active:after {
          border-color: #82d1ff transparent;
      }

      .wrapper-dropdown.active .dropdown {
          border-bottom: 1px solid rgba(0,0,0,0.2);
          max-height: 400px;
          overflow: scroll;
      }

      .explanation {
        font-size: smaller;
        color: #999;
      }

      .fileupload-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        padding: 5px 10px;
        margin-top:15px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
      }

      .fileupload-wrapper .fileupload-message {
        position: relative;
        -webkit-transform: translateY(35%);
        transform: translateY(35%);
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        color: #bbb;
      }

      .fileupload-wrapper input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 5;
      }

      .fileupload-wrapper .fileupload-filename {
        font-size: 16px;
        position: relative;
        transform: translateY(35%);
      }

      .fileupload-wrapper p {
        padding-bottom: 0px;
      }

      #create-token-p{
        margin-top: 1rem;
        margin-bottom: 0rem;
      }

      #save.btn-fullwidth {
        width: 100%;
      }
      @media (min-width: 500px) {
        #save.btn-fullwidth {
          font-size: 2rem;
        }
      }
      #save.btn-disabled {
        font-size: 1rem;
        width: 14rem;
        background-color: #faa;
        border: none;
      }
      a.btn-success.btn:hover, a.btn-success.btn:focus {
        color: #fff;
      }

      .result {
        display: none;
      }

      #result_cloned_website {
        height: 10rem;
      }

      .jumbotron .btn.btn-clipboard {
        background-color: #9d8;
        padding: .5rem;
        font-size: inherit;
      }
      .btn-clipboard > img {
        max-width: 15px;
      }


      .result-data {
        width: 80%;
        border: none;
        font-family: monospace;
      }

      .advice {
        text-align: left;
        margin-top: 2rem;
      }

      .create-link {
        text-align: center;
        margin-bottom: 15px;
      }

      .create-link a {

      }

      a.refresh {
        font-size: 1.5rem;
        vertical-align: middle;
        text-decoration: none;
      }
      a.refresh:hover{
        cursor: pointer;
      }

      .pre-like {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0px;
        word-break: break-all;
        overflow: scroll;
        text-align: left;
      }

      .error-field {
        display: none;
        color: red;
        border-bottom: 1px solid red;
        border-radius: 6px;
        margin-bottom: 24px;
      }
      #endpoints_errors {
        border: 1px solid red;
        margin: 24px 0px;
        padding: 0px 5px;
      }
      #endpoints_errors pre {
        color: #eceeef;
        background: firebrick;
      }
      .map{
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        height:400px;
        border-radius: 5px;
        border: 7px solid #dadada;
      }

      .setting .key {
        text-align: right;
      }

      .setting .value {
        text-align: left;
      }

      .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:hover, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover {
        background-color: #449d44;
        border-color: #419641;
      }

      .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
        color: #fff;
        background-color: #5cb85c;
        border-color: #5cb85c;
      }

      .jumbotron .btn.btn-clipboard {
        background-color: #5cb85c;
        border-color: #5cb85c;
        color: #fff;
      }

      .setting .key small {
        font-size: .2rem;
        color: #999;
        vertical-align: top;
      }

      @media (min-width: 48em) {
        .container {
          max-width: 100%;
        }
      }

      .jumbotron {
            max-width: 46rem;
            margin: auto;
            margin-bottom: 2rem;
      }

      a.icon:before {
        display: block;
        position: absolute;
        margin-right: 10px;
        margin-left: 10px;
        content: "";
        height: 40px;
        width: 40px;
        background-size: contain;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: translate3d(0, 0, 0);
      }

      @media (max-width: 768px) {
          a.icon:before {
            width: 20px;
            height: 20px;
          }
      }
      a.icon-web:before {
        background-image: url("/resources/web.png");
      }
      a.icon-dns:before {
        background-image: url("/resources/dns.png");
      }
      a.icon-web-image:before {
        background-image: url("/resources/web_image.png");
      }
      a.icon-email:before {
        /*Email by Lorena Salagre from the Noun Project*/
        background-image: url("/resources/email.png");
      }
      a.icon-word:before {
        background-image: url("/resources/word.png");
      }
      a.icon-pdf:before {
        background-image: url("/resources/pdf.png");
      }
      a.icon-folder:before {
        background-image: url("/resources/folder.png");
      }
      a.icon-exe:before {
        background-image: url("/resources/exe.png");
      }
      a.icon-clonedsite:before {
        background-image: url("/resources/clonedsite.png");
      }
      a.icon-sqlserver:before {
        background-image: url("/resources/sqlserver.png");
      }
      a.icon-qrcode:before {
        background-image: url("/resources/qrcode.png");
      }
      a.icon-svn:before {
        background-image: url("/resources/svn.png");
      }
      a.icon-aws:before {
        background-image: url("/resources/aws.png");
      }
      a.icon-redirect:before {
        background-image: url("/resources/redirect.png");
      }

      @media (max-width: 768px) {
        input.form-control:-moz-placeholder, textarea.form-control:-moz-placeholder {
          font-size: .8rem;
        }
        input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
          font-size: .8rem;
        }
        input.form-control:placeholder, textarea.form-control:placeholder {
          font-size: .8rem;
        }
        input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
          font-size: .8rem;
        }
        .setting .key {
        text-align: center;
        }

        .setting .value {
        text-align: center;
        margin-bottom: 1rem;
        }

        .artifacts{
          margin-left: 10px;
          margin-right: 10px;
        }
        .row.results{
          margin-left: 10px;
          margin-right: 10px;
        }

      }
      @media (max-width: 500px) {
        input.form-control:-moz-placeholder, textarea.form-control:-moz-placeholder{
          font-size: .5rem;
        }
        input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
          font-size: .5rem;
        }
        input.form-control:placeholder, textarea.form-control:placeholder {
          font-size: .5rem;
        }
        input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
          font-size: .5rem;
        }
        .token-length{
          font-size: 1.2rem;
        }
        .setting .key {
        text-align: center;
        }

        .setting .value {
        text-align: center;
        margin-bottom: 1rem;
        }

        .artifacts{
          margin-left: 10px;
          margin-right: 10px;
        }
        .row.results{
          margin-left: 5px;
          margin-right: 5px;
        }

        a.btn.btn-large.btn-success{
          font-size: 0.9rem;
        }

      }

      #mainsite {
        font-size: smaller;
        padding-top: 1.5rem;
      }