<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
  <title>{{ Title }}</title>
  <style type="text/css">
  @media only screen and (min-width: 510px) {
    table.logo,
    td.footer .left {
      width: 50% !important;
      float: left !important;
      text-align: left !important;
    }
    table.date,
    td.footer .right {
      width: 50% !important;
      float: right !important;
      text-align: right !important;
    }
    table.date {
      height: 50px;
    }
  }

  </style>
</head>

<body bgcolor="#EDECED" style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333333; margin-bottom: 20px;">
  <table bgcolor="#EDECED" border="0" cellpadding="0" cellspacing="0" class="wrapper" style="padding-top: 20px; padding-bottom: 20px;" width="100%">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="container" style="padding-top:10px; padding-bottom:20px; margin: auto; min-width: 315px; max-width: 660px; overflow: hidden;" width="95%">
          <tr>
            <td>
              <table bgcolor="#ffffff" border="0" cellpadding="18" cellspacing="0" class="content alert" style="border: 1px solid #D7D7D7; margin-top: 10px; border-radius: 5px; border-top: 4px solid #e94b35;" width="100%">
                <tr>
                  <td>
                    <table width="100%">
                      <tr>
                        <td>
                          <h1 style="text-align: center; font-weight: normal; font-size: 26px;">{{ Title }}</h1>
                          <table bgcolor="#E94B35" cellpadding="5" class="alert" style="text-align: center; color: #ffffff; text-transform: uppercase; letter-spacing: 0.1em; margin-bottom: 20px;" width="100%">
                            <tr>
                              <td>Alert </td>
                            </tr>
                          </table>
                          <tr>
                            <td>
                              <table class="incident">
                                <tr>
                                  <td>{{ Intro }}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table class="details" width="100%">
                                <tr>
                                  <td>
                                    <h2 style="font-size: 18px;">Basic Details:</h2></td>
                                </tr>
                                <tr>
                                  <td>
                                    <table class="data" style="border: 1px solid #cccccc; font-size: 14px; border-collapse: collapse;" width="100%">
                      {% if BasicDetails['Channel'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Channel</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Channel'] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Time'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Time</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Time'] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Canarytoken'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Canarytoken</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Canarytoken'] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Description'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Token Reminder</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Description'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['TokenType'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Token Type</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['TokenType'] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['SourceIP'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Source IP</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['SourceIP'] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['User-Agent'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">User Agent</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['User-Agent'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Referer'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Referer</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Referer'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Location'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Location</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Location'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['Log4JComputerName'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Log4Shell Hostname</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['Log4JComputerName'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['CMDInformation'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Sensitive Command Information</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['CMDInformation'] | e}}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['CanaryIP'] or BasicDetails['CanaryName'] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Canary</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;">
                                          <code>
                                            {% if BasicDetails['CanaryIP'] %}{{ BasicDetails['CanaryIP'] }}{%endif%}
                                            {% if BasicDetails['CanaryName'] %}({{BasicDetails['CanaryName'] | e}}
                                              {%- if BasicDetails['CanaryID'] %}, ID:{{BasicDetails['CanaryID']}}{%endif-%}
                                            ){%endif%}
                                          </code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails['GenericData'] %}
                                     <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Generic Data</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails['GenericData'] | e}}</code></td>
                                      </tr>
                      {% endif %}

		       {% if BasicDetails.get('CanaryLocation', '') %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;">Canary Location</td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;">
                                          <code>
                                            {{ BasicDetails['CanaryLocation'] | e}}
                                          </code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails[''] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;"></td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails[''] }}</code></td>
                                      </tr>
                      {% endif %}
                      {% if BasicDetails[''] %}
                                      <tr>
                                        <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 180px; border: 1px solid #cccccc; padding: 5px;"></td>
                                        <td style="border: 1px solid #cccccc; padding: 5px;"><code>{{ BasicDetails[''] }}</code></td>
                                      </tr>
                      {% endif %}
                                    </table>
                                  </td>
                                </tr>
                {% if ManageLink or HistoryLink %}
                                <tr>
                                  <td>
                                    <h2 style="font-size: 18px;">Canarytoken Management Details:</h2></td>
                                </tr>
                                <tr>
                                  <td>
                                    <table class="data" style="border: 1px solid #cccccc; font-size: 14px; border-collapse: collapse;" width="100%">
                                      <tr>
                                       <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 120px; border: 1px solid #cccccc; padding: 5px;text-align: center;">Manage this Canarytoken <a href="{{ ManageLink }}">here</a></td> 
                                      </tr>
                                      <tr>
                                       <td class="label" style="background: #eeeeee; font-weight: bold; _border: none; width: 120px; border: 1px solid #cccccc; padding: 5px;text-align: center;">More info on this token <a href="{{ HistoryLink }}">here</a></td> 
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                {% endif %}
                              </table>
                            </td>
                          </tr>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="footer" style="font-size: 12px; text-align: center; padding-top: 10px; color: #666666; min-width: 315px; max-width: 660px; padding-bottom: 10px;" width="100%">
                    <table class="left" width="100%">
                      <tr>
                        <td>Powered by:<a href="https://canary.tools">Thinkst Canary</a>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <a href="https://canary.tools" style="text-align: center"><img alt="Canary" width="100%" src="http://thinkst.com/images/tokens-banner.gif", _external=True)/></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
