<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <title>404 - Page not found</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/resources/404style.css" />
  </head>
  <body>
    <main class="container">
      <h1>404</h1>
      <h2>Oops! The page you're looking for can't be found.</h2>
      <div class="flex-container">
        <img
          src="/resources/canarytokens-done.png"
          alt="Page Not Found" />
        <div>
          <p>
            This might be because the URL is incorrect, or the page has been
            moved or deleted.
          </p>
          <p>Please check the URL or go back to the homepage and try again.</p>
        </div>
      </div>
    </main>
    <footer>
      <a href="https://canarytokens.org">
        <img
          src="/resources/token_logo.svg"
          alt="Canarytokens.org"
      /></a>
    </footer>
  </body>
</html>
