<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <title>500 - Internal Server Error</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/resources/404style.css" />
  </head>
  <body>
    <main class="container">
      <h1>500</h1>
      <h2>Oops! Something went wrong on our end.</h2>
      <div class="flex-container">
        <img
          src="/resources/canarytokens-done.png"
          alt="Page Not Found" />
        <div>
          <p>
            We're sorry, but something went wrong on our end. We're working to
            fix it as quickly as possible.
          </p>
          <p>
            Please try again later or
            <a href="https://canarytokens.org"> go back to the homepage</a>.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <a href="https://canarytokens.org">
        <img
          src="/resources/token_logo.svg"
          alt="Canarytokens.org"
      /></a>
    </footer>
  </body>
</html>
