<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Canarytokens is a free tool that helps you discover you’ve been breached by having attackers announce themselves.  The tokens allow you to implant traps around your network and notifies you as soon as they are triggered.">
    <meta property="og:description"content="Canarytokens is a free tool that helps you discover you’ve been breached by having attackers announce themselves.  The tokens allow you to implant traps around your network and notifies you as soon as they are triggered.">
    <meta name="author" content="Thinkst Applied Research">
    <meta property="og:title" content="Know.  Before it matters">
    <meta property="og:url" content="https://canarytokens.org">
    <meta property="og:site_name" content="Canarytokens"/>
    <meta property="og:image" content="https://canary.tools/static/images/ico_canary.png">
    <meta property="og:image:width" content="52">
    <meta property="og:image:height" content="52">
    <meta name="keywords" content="Canarytoken,Canary token,Canary tokens,Canarytokens,Honeytoken,Honeytokens,Web bug,DNS token,URL token,Thinkst,Thinkst Applied Research">

    <title>Canarytokens: %(code)s</title>
    <link rel="shortcut icon" href="/resources/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/styles.min.css">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav class="hidden">
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/generate">New token</a>
            </li>
            <li class="nav-item">
              <a class="nav-link manage-link" href="">Manage this token</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <a style="color: inherit; text-decoration: inherit;" href="/">
            <img alt="logo" src="/resources/logo.png" class="logo">
          </a>
        </h3>
        <a href="http://blog.thinkst.com/p/canarytokensorg-quick-free-detection.html" target="_blank">What is this and why should I care?</a>
      </div>

      <div class="jumbotron">
        <div class="create">
          <h3>Oh dear, an error occurred!</h3>
          <h1>%(code)s: %(brief)s</h1>

          <a href="/">Head back this way</a>
        </div>
      </div>


      <footer class="footer">
        <p>Brought to you by <a href="https://canary.tools/" target="_blank">Thinkst Canary</a>, our insanely easy-to-use honeypot solution that deploys in just 3 minutes. <strong>Know. When it matters.</strong></p>
        <p>&copy; <a href="https://canary.tools/" target="_blank">Thinkst Canary</a> 2015&ndash;2020</p>
        <p>By using this service, you agree with our <a href="/legal">terms of use.</a></p>
        <p id="mainsite" class="hidden">This <a href="https://canarytokens.org/">Canarytokens</a> installation is unaffiliated with Thinkst Canary.</p>
      </footer>

    </div> <!-- /container -->
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  <script src="/resources/site.js"></script>
</html>
