{% macro inputcopy(name, value="")%}
<input id="{{name}}" type="text" class="result-data" value="{{value}}" readonly="">
<button class="btn btn-success btn-clipboard tooltip" type="button" data-clipboard-target="#{{name}}">
  <img src="/resources/clippy.svg" alt="Copy to clipboard">
</button>
{%- endmacro %}

{% macro textareacopy(name, value="")%}
<textarea id="{{name}}" class="result-data" readonly="">{{value}}
</textarea>
<button class="btn btn-success btn-clipboard tooltip" type="button" data-clipboard-target="#{{name}}">
  <img src="/resources/clippy.svg" alt="Copy to clipboard">
</button>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/resources/favicon.ico">
  <title>Canarytokens</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.8/css/tooltipster.bundle.min.css" integrity="sha256-Qc4lCfqZWYaHF5hgEOFrYzSIX9Rrxk0NPHRac+08QeQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.8/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" integrity="sha256-ZiBTbkzExWV/DU4+02ZMqXaNu7o0XfNmxTa0+gRbdO0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.3/css/bootstrap3/bootstrap-switch.min.css" integrity="sha256-TmXiemEItWzNM8RAaAW2WZNEadRBPMsiW6RHIQC2D2A=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/resources/styles.css">
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="/generate">New token</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history?token={{canarydrop['canarytoken']}}&auth={{canarydrop['auth']}}">History</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">
        <a style="color: inherit; text-decoration: inherit;" href="/">
          <img alt="logo" src="/resources/logo.png" class="logo">
        </a>
      </h3>
    </div>

    <div class="jumbotron">
      <div class="success">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h3>Token settings</h3>
          </div>
          <div class="col-md-1">
          </div>
        </div>
        {% if canarydrop['alert_email_recipient']%}
        <div class="row setting">
            <div class="col-xs-12 col-md-6 key">
              Email alerts<br/><small>{{canarydrop['alert_email_recipient'] | e}}</small>
            </div>
            <div class="col-xs-12 col-md-6 value">
              <input class="settings_checkbox" type="checkbox" name="email_enable" {%if canarydrop['alert_email_enabled']%}checked{%endif%}>
            </div>
        </div>
        {%endif%}
        {% if canarydrop['alert_webhook_url']%}
        <div class="row setting">
          <div class="col-md-6 key">
            Webhook reporting<br/><small>{{canarydrop['alert_webhook_url'] | e}}</small>
          </div>
          <div class="col-md-6 value">
            <input class="settings_checkbox" type="checkbox" name="webhook_enable" {%if canarydrop['alert_webhook_enabled']%}checked{%endif%}>
          </div>
        </div>
        {%endif%}
        {% if canarydrop['type'] in ["web", "web_image"]%}
        <div class="row setting">
          <div class="col-md-6 key">
            Browser scanner<br/><small>Runs Javascript fingerprinting when the token is browsed</small>
          </div>
          <div class="col-md-6 value">
            <input class="settings_checkbox" type="checkbox" name="browser_scanner_enable" {%if canarydrop['browser_scanner_enabled']%}checked{%endif%}>
          </div>
        </div>
        {%endif%}
        {% if canarydrop['type'] == "web_image"%}
        <div class="row setting">
          <div class="col-md-6 key">
            Custom web image<br/><small>Serve your alternative image</small>
          </div>
          <div class="col-md-6 value">
            <input class="settings_checkbox" type="checkbox" name="web_image_enable" {%if canarydrop['web_image_enabled']%}checked{%endif%}>
          </div>
        </div>
        {%endif%}
        <div class="row results">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="result web web_image">
              <h5>Here's your Web token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_web') }}
                </div>
              </div>
            </div>
            <div class="result fast_redirect">
              <h5>Here's your Fast Redirect token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_fast_redirect') }}
                </div>
              </div>
            </div>
            <div class="result slow_redirect">
              <h5>Here's your Slow Redirect token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_slow_redirect') }}
                </div>
              </div>
            </div>
            <div class="result dns">
              <h5>Here's your DNS token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_dns') }}
                </div>
              </div>
            </div>
            <div class="result aws_keys">
              <h5>Here's your AWS key token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ textareacopy('result_aws_keys') }}
                </div>
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="awskeys">Download your AWS Creds</a>
                </div>
              </div>
            </div>
            <div class="result azure_id">
              <h5>Here's your Azure Service Principal Login:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ textareacopy('result_azure_id') }}
                </div>
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="azure_id">Download Azure Certificate</a>
                </div>
              </div>
            </div>
            <div class="result smtp">
              <h5>Here's your tokened Email address:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_smtp') }}
                </div>
              </div>
            </div>
            <div class="result ms_word">
              <h5>Here's your tokened MS Word document:</h5>
              <div class="artifacts">
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="msword">Download your MS Word file</a>
                </div>
              </div>
            </div>
            <div class="result ms_excel">
              <h5>Here's your tokened MS Excel document:</h5>
              <div class="artifacts">
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="msexcel">Download your MS Excel file</a>
                </div>
              </div>
            </div>
            <div class="result adobe_pdf">
              <h5>Here's your tokened PDF document:</h5>
              <div class="artifacts">
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="pdf">Download your PDF file</a>
                </div>
              </div>
            </div>
            <div class="result windows_dir">
              <h5>Here's your Windows Folder token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  <a class="btn btn-large btn-success file-download" data-fmt="zip">Download your Zip file</a>
                </div>
              </div>
            </div>
            <div class="result clonedsite">
              <h5>Here's your tokened Javascript:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {% if canarydrop['type'] == 'clonedsite'%}
                  {{ textareacopy('result_clonedsite', value=canarydrop.get_cloned_site_javascript()) }}
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="result sql_server">
              <div class="artifacts">
                <p>Here's your SQL token:</p>
                <div class="form-control">
                  <div id="sql-insert-update-delete" class="sql-insert-update-delete pre-like hidden">
--create a stored proc that'll ping canarytokens
    CREATE proc ping_canarytoken
    AS
    BEGIN
        declare @username varchar(max), @base64 varchar(max), @tokendomain varchar(128), @unc varchar(128), @size int, @done int, @random varchar(3);

        --setup the variables
        set @tokendomain = '<span class="sql_hostname"></span>';
        set @size = 128;
        set @done = 0;
        set @random = cast(round(rand()*100,0) as varchar(2));
        set @random = concat(@random, '.');
        set @username = SUSER_SNAME();

        --loop runs until the UNC path is 128 chars or less
        while @done <= 0
        begin
            --convert username into base64
            select @base64 = (SELECT
                CAST(N'' AS XML).value(
                      'xs:base64Binary(xs:hexBinary(sql:column("bin")))'
                    , 'VARCHAR(MAX)'
                )   Base64Encoding
            FROM (
                SELECT CAST(@username AS VARBINARY(MAX)) AS bin
            ) AS bin_sql_server_temp);

            --replace base64 padding as dns will choke on =
            select @base64 = replace(@base64,'=','-')

            --construct the UNC path
            select @unc = concat('\\',@base64,'.',@random,@tokendomain,'\a')

            -- if too big, trim the username and try again
            if len(@unc) <= @size
                set @done = 1
            else
                --trim from the front, to keep the username and lose domain details
                select @username = substring(@username, 2, len(@username)-1)
        end
        exec master.dbo.xp_fileexist @unc;
    END

    --add a trigger if data is altered
    CREATE TRIGGER <span class="sql_trigger_name"></span>
      ON <span class="sql_table_name"></span>
      AFTER <span class="sql_action"></span>
    AS
    BEGIN
    exec ping_canarytoken
    end
<button class="btn btn-success btn-clipboard tooltip" type="button" data-clipboard-target="#sql-insert-update-delete">
<img src="/resources/clippy.svg" alt="Copy to clipboard">
</button>
                  </div>
                  <div id="sql-select" class="sql-select pre-like hidden">
--create a table-view function to query the canary hostname
    CREATE function <span class="sql_function_name"></span>(@RAND FLOAT) returns @output table (col1 varchar(max))
    AS
    BEGIN
        declare @username varchar(max), @base64 varchar(max), @tokendomain varchar(128), @unc varchar(128), @size int, @done int, @random varchar(3);

        --setup the variables
        set @tokendomain = '<span class="sql_hostname"></span>';
        set @size = 128;
        set @done = 0;
        set @random = cast(round(@RAND*100,0) as varchar(2));
        set @random = concat(@random, '.');
        set @username = SUSER_SNAME();

        --loop runs until the UNC path is 128 chars or less
        while @done <= 0
        begin
            --convert username into base64
            select @base64 = (SELECT
                CAST(N'' AS XML).value(
                      'xs:base64Binary(xs:hexBinary(sql:column("bin")))'
                    , 'VARCHAR(MAX)'
                )   Base64Encoding
            FROM (
                SELECT CAST(@username AS VARBINARY(MAX)) AS bin
            ) AS bin_sql_server_temp);

            --replace base64 padding as dns will choke on =
            select @base64 = replace(@base64,'=','0')

            --construct the UNC path
            select @unc = concat('\\',@base64,'.',@random,@tokendomain,'\a')

            -- if too big, trim the username and try again
            if len(@unc) <= @size
                set @done = 1
            else
                --trim from the front, to keep the username and lose domain details
                select @username = substring(@username, 2, len(@username)-1)
        end
        exec master.dbo.xp_dirtree @unc-- WITH RESULT SETS (([result] varchar(max)));
            return
    END

    --create a view that calls the function
    alter view <span class="sql_view_name"></span> as select * from master.dbo.<span class="sql_function_name"></span>(rand());

    --change permissions on <span class="sql_function_name"></span> to SELECT for [public]
    --change permissions on <span class="sql_view_name"></span> to SELECT for [public]
    --don't allow [public] to view the definitions
<button class="btn btn-success btn-clipboard tooltip" type="button" data-clipboard-target="#sql-select">
<img src="/resources/clippy.svg" alt="Copy to clipboard">
</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="result qr_code">
              <h5>Your QR Code token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {% if canarydrop['type'] == 'qr_code'%}
                  <img id="qrcode_png" src="{{canarydrop.get_qrcode_data_uri_png()}}"/>
                  <a href="{{canarydrop.get_qrcode_data_uri_png()}}" download="{{canarydrop['canarytoken']}}.png" class="btn btn-success">Download</a>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="result svn">
              <h5>Your SVN token:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {{ inputcopy('result_svn') }}
                </div>
              </div>
            </div>
            <div class="result wireguard">
              <h5>Your WireGuard VPN client config:</h5>
              <div class="artifacts">
                <div class="form-control">
                  {% if canarydrop['type'] == 'wireguard'%}
                  <img id="wg_qrcode" src="{{ canarydrop.get_wg_qrcode() }}" />
                  <pre id="wg_conf">{{ canarydrop.get_wg_conf() }}</pre>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-md-12">
        <h6 style="text-align: center;">This token has {% if canarydrop['triggered_list']|length == 1 %}been triggered once.
        {% elif canarydrop['triggered_list']|length == 2 %}been triggered twice.
        {% elif canarydrop['triggered_list']|length > 2%}been triggered {{canarydrop['triggered_list']|length}} times.
        {%else%}not been triggered yet{%endif%}
        {% if canarydrop['triggered_list']|length > 0 %} View its <a href="/history?token={{canarydrop['canarytoken']}}&auth={{canarydrop['auth']}}">history</a>{%endif%}
        </h6>
        <br>
        </div>
      </div>

    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="alert alert-success" role="alert" style="text-align: center;" style="allign">
            <strong>We hope you are enjoying the free version of Canarytokens!</strong> <br> For more (non-public) tokens, support, mass-deployment-tools and better management of your deployed tokens, check out our commercial Canarytoken offering at <a href="https://canary.tools/canarytokens">https://canary.tools/canarytokens</a>.
          </div>
        </div>
      <div class="col-md-2"></div>
    </div>

    <footer class="footer">
      <p>Brought to you by <a href="https://canary.tools/" target="_blank">Thinkst Canary</a>, our insanely easy-to-use honeypot solution that deploys in just 3 minutes. <strong>Know. When it matters.</strong></p>
      <p>&copy; Thinkst Canary 2015&ndash;{{now.year}}</p>
      <p>By using this service, you agree with our <a href="/legal">terms of use.</a></p>
      <p id="mainsite" class="hidden">This <a href="https://canarytokens.org/">Canarytokens</a> installation is unaffiliated with Thinkst Canary.</p>
    </footer>

  </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="//v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.8/js/tooltipster.bundle.min.js" integrity="sha256-q732ZLDh1y9/RwzPjKt/GODE3lqj+078N0wwMDYQiPg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.3/js/bootstrap-switch.min.js" integrity="sha256-lDGxF93YiQJCM4WXZYZmXNww6vWiPqnVxJgFJvstLGE=" crossorigin="anonymous"></script>
  <script src="/resources/site.js"></script>
  <script>
    Array.prototype.random = function () {
      return this[Math.floor((Math.random()*this.length))];
    }
    var canarydrop = {{canarydrop.serialize()|tojson}};

    var save_settings = function(checkbox) {

      var data = {'token': canarydrop['canarytoken'],
                  'auth':  canarydrop['auth'],
                  'setting': checkbox.name,
                  'value': checkbox.value};
      $.ajax({
          url: '/settings',
          data: data,
          method: 'POST',
          success: function(data){

          },
          error: function( jqXhr, textStatus, errorThrown ){
              $(checkbox).bootstrapSwitch('toggleState', true);
          }
      });
    }

    $(function() {
      $(".settings_checkbox").bootstrapSwitch();
      $('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        if (state) {
          this.value = "on";
        } else {
          this.value = "off";
        }
        save_settings(this);
      });

      $('.tooltip').tooltipster({
        theme: 'tooltipster-borderless',
        trigger: 'custom',
        triggerOpen: {
        },
        triggerClose: {
          mouseleave: true,
          originClick: true,
          touchleave: true
        }
      });

      var clipboard = new Clipboard('.btn-clipboard');
      clipboard.on('success', function(e){
        $(e.trigger).tooltipster('content', 'Copied!')
        $(e.trigger).tooltipster('open');
      });
      clipboard.on('failure', function(e){
        $(e.trigger).tooltipster('content', 'cmd/ctrl + c to copy')
        $(e.trigger).tooltipster('open');
      });
      $('.btn-clipboard').removeClass('tooltip');

      var _handleWebResponse = function(data) {
        $('#result_web').val(data['generated_url']);
      };
      var _handleFastRedirectResponse = function(data) {
        $('#result_fast_redirect').val(data['generated_url']);
      };
      var _handleSlowRedirectResponse = function(data) {
        $('#result_slow_redirect').val(data['generated_url']);
      };
      var _handleDNSResponse = function(data) {
        $('#result_dns').val(data['generated_hostname']);
      };
      var _handleFileDownloadResponse = function(data) {
        $('a.file-download').each(function (i, e){
          e = $(e);
          e.prop('href', 'download?fmt='+e.data('fmt')+'&token='+data['canarytoken']+'&auth='+data['auth']);
        });
      }
      var _handleClonedWebsiteResponse = function(data) {
        //$('#result_clonedsite').val(data['clonedsite_js']);
      }
      var _handleQrCodeResponse = function(data) {
      }
      var _handleSVNResponse = function(data){
        $('#result_svn').val('svn propset svn:externals "extras http://'+data['generated_hostname']+'" .')
      }
      var _handleSMTPResponse = function(data) {
        $('#result_smtp').val(data['canarytoken']+'@'+document.domain);
      }
      var _handleSQLServerResponse = function(data) {
        $('.sql_hostname').text(data['generated_hostname']);
        if ($('#selected_sql_action').text() == 'SELECT') {
          $('.sql-select').removeClass('hidden');
          $('.sql_function_name').text($('input[name=sql_server_function_name]').val());
          $('.sql_view_name').text($('input[name=sql_server_view_name]').val());
        } else {
          $('.sql-insert-update-delete').removeClass('hidden');
          $('.sql_trigger_name').text($('input[name=sql_server_trigger_name]').val());
          $('.sql_table_name').text($('input[name=sql_server_table_name]').val())
          $('.sql_action').text($('#selected_sql_action').text())
        }
      }
      var _handlerSignedExeResponse = function(data) {
        $('#signed_exe').prop('href', data['file_contents']);
        $('#signed_exe').prop('download', data['file_name']);
        $('#signed_exe').text('Save ' + data['file_name']);
      }

      var _handleAWSKeysResponse = function(data){
        $('#result_aws_keys').val('[default]'+
        '\naws_access_key_id = '+ data['aws_access_key_id']+
        '\naws_secret_access_key = '+ data['aws_secret_access_key']+
        '\noutput = '+ data['output']+
        '\nregion = '+ data['region']);
        $('#result_aws_keys').css('height','100px').css('text-align','left').css('width','90%');
        $('a.file-download').each(function (i, e){
          e = $(e);
          e.prop('href', 'download?fmt='+e.data('fmt')+'&token='+data['canarytoken']+'&auth='+data['auth']);
        });
      }

      var _handleAzureIDResponse = function(data){
        $('#result_azure_id').val('{'+
        '\n    "appId" = "'+ data['app_id'] + '"' +
        '\n    "displayName" = "azure-cli-'+ data['cert_name'] + '"' +
        '\n    "fileWithCertAndPrivateKey" = "'+ data['cert_file_name'] + '"' +
        '\n    "password" = null' +
        '\n    "tenant" = "'+ data['tenant_id'] + '"' +
        '\n}');
        $('#result_azure_id').css('height','100px').css('text-align','left').css('width','90%');
        $('a.file-download').each(function (i, e){
          e = $(e);
          e.prop('href', 'download?fmt='+e.data('fmt')+'&token='+data['canarytoken']+'&auth='+data['auth']);
        });
      }

      var _handleDefaultResponse = function(data) {
        return;
      }

      var _responseCallbacks = {'web': _handleWebResponse,
                                'dns': _handleDNSResponse,
                                'aws_keys': _handleAWSKeysResponse,
                                'azure_id':_handleAzureIDResponse,
                                'web_image': _handleWebResponse,
                                'ms_word' : _handleFileDownloadResponse,
                                'ms_excel' : _handleFileDownloadResponse,
                                'adobe_pdf' : _handleFileDownloadResponse,
                                'windows_dir' : _handleFileDownloadResponse,
                                'clonedsite' : _handleClonedWebsiteResponse,
                                'qr_code': _handleQrCodeResponse,
                                'svn': _handleSVNResponse,
                                'smtp': _handleSMTPResponse,
                                'sql_server': _handleSQLServerResponse,
                                'signed_exe': _handlerSignedExeResponse,
                                'fast_redirect': _handleFastRedirectResponse,
                                'slow_redirect': _handleSlowRedirectResponse,
                                'default':   _handleDefaultResponse
                               };
      var displayToken = function(data) {
        var type = data['type'];
        $('.result').hide();
        $('.result.'+type).show();
        //swap out the layers to make the results visible
        $('.success').addClass('success-visible');
        $('.create').addClass('create-hidden');

        cb = _responseCallbacks[type];
        if (!cb) {
          cb =_responseCallbacks['default'];
        }
        cb(data)

        $('.jumbotron').css('height', $('.success').innerHeight())

        $('.manage-link > a').prop('href', '/manage?token='+data['Token']+'&auth='+data['Auth']);
      }
      displayToken(canarydrop);

    });
  </script>
</body>
</html>
