<!DOCTYPE html>
<head>
<title>canarytokens.net</title>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<meta name="viewport" content="initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/resources/famfamfam-flags.css" >
<style>
.history_item{
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  text-align: left;
  width: 50%;
}
.details-list{
  display:none;
}
.details-header{
  text-align: center;
}
.expand{
  text-align: center;
  color: blue;
}
.expand:hover{
  text-decoration: underline;
}
.map{
  margin-bottom: 10px;
  margin-top: 10px;
   height:400px;
   width:70%;
   text-align:center;
}
</style>
</head>
<body>
<script type="text/javascript">
   var geo_info = {}
    function appendGeoInfo(id,info){
      geo_info[id] = info;
    }
</script>
<center>
{% if saved %}
<div>
  Saved settings.
</div>
{%endif%}
<form method="POST">
    Token: {{canarydrop['canarytoken']}}<br />
    Email Enabled: <input type="checkbox" name="email_enable"  {% if canarydrop['alert_email_enabled'] %}checked="checked"{%endif%}/><br />
    {% if canarydrop['alert_webhook_url'] %}
    Webook Enabled: <input type="checkbox" name="webhook_enable"  {% if canarydrop['alert_webhook_enabled'] %}checked="checked"{%endif%}/><br />
    {%endif%}
    {% if canarydrop['alert_sms_recipient'] %}
    SMS Enabled: <input type="checkbox" name="sms_enable"  {% if canarydrop['alert_sms_enabled'] %}checked="checked"{%endif%}/><br />
    {%endif%}
    <input type="hidden" name="token" value="{{canarydrop['canarytoken']}}"/><br />
    <input type="hidden" name="auth" value="{{canarydrop['auth']}}" /><br />
    <input type="submit" />
</form>
</center>
{% if error %}
<center>
{{error}}
</center>
{%endif%}

<center><a href="https://canary.tools/" target="_blank"><img src="http://thinkst.com/images/canary_ad_1.png" style="width:350px;height:151px;"></a><center>
  {% if canarydrop['triggered_list'] %}
  {% if API_KEY %}
    <b>Map:</b>
    <br>
    <div class="map" id="map">
    </div>
  {%endif%}
    <b>History:</b>
    <ul>
    {% for item in canarydrop['triggered_list']|sort(reverse=True) %}
      <div class="history_item" >
        <p class="details-header"><b>Date:</b> {{ item }}
                                  <b>IP:</b> {{ canarydrop['triggered_list'][item]['src_ip'] }}
                                  <b>Channel:</b> {{ canarydrop['triggered_list'][item]['input_channel'] }}
                                  {%if canarydrop['triggered_list'][item]['geo_info'] != None and 
                                       canarydrop['triggered_list'][item]['geo_info'] is defined and 
                                       canarydrop['triggered_list'][item]['geo_info']['country'] != None and
                                       canarydrop['triggered_list'][item]['geo_info']['country'] is defined %}
                                    <b>Country:</b>{{canarydrop['triggered_list'][item]['geo_info']['country']}}
                                    <i class="famfamfam-flag-{{(canarydrop['triggered_list'][item]['geo_info']['country'])|lower}}"></i></p>
                                  {%else%}
                                    <b>Country:</b> Unknown
                                  {%endif%}
        <ul class="details-list">
        {% for field in canarydrop['triggered_list'][item] %}
          {% if canarydrop['triggered_list'][item][field] != None and
                canarydrop['triggered_list'][item][field] is defined %}
            {% if field == 'geo_info' %}
              <script type="text/javascript">
                appendGeoInfo("{{item}}",{{canarydrop['triggered_list'][item]['geo_info']}});
              </script>
            {%endif%}
            {% if field == 'additional_info' %}
              <b>Additional Info</b>
              <ul>

              {% for info in canarydrop['triggered_list'][item][field] %}
                  <li>{{info}}
                    <ul>
                    {% for info_item in canarydrop['triggered_list'][item][field][info] %}
                        <li>{{info_item}}: {{ canarydrop['triggered_list'][item][field][info][info_item][0] == "1"
                              if info_item in ['enabled','installed']
                              else canarydrop['triggered_list'][item][field][info][info_item]|join(', ') }}</li>
                    {% endfor %}
                    </ul>
                  </li>
              {% endfor %}
              </ul>
            {% else %}
              {% if field not in ['src_ip','input_channel'] %}
                <b>{{ field }}</b>
                <ul>
                  <li>{{ canarydrop['triggered_list'][item][field] }}</li>
                </ul>
              {%endif%}
            {%endif%}
          {%endif%}
        {% endfor %}
        </ul>
        <p class="expand">Expand</p>
      </div>
    {% endfor %}

    </ul>
    <script type="text/javascript">
        function initMap() {

          var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 0, lng: 0},
              zoom: 2,
              mapTypeId: 'hybrid',
              mapTypeControl: false,
              streetViewControl: false
            });

          var bounds = new google.maps.LatLngBounds();
          var markers = {};
          for (x in geo_info){
            var loc = String(geo_info[x]['loc']).split(",");
            var latitude = parseFloat(loc[0]);
            var longitude = parseFloat(loc[1]);
            if (isNaN(latitude) || isNaN(longitude)) {
              continue;
            }
            var latlng = new google.maps.LatLng(latitude,longitude);

            if(markers[latlng]==undefined){
              markers[latlng]= '<br>'+x;
            }else{
              markers[latlng] += '<br>'+x;
            }

            var marker = new google.maps.Marker({
              map : map,
              draggable :false,
              animation:google.maps.Animation.DROP,
              position : latlng
            });
            bounds.extend(marker.position);
            var content = '';
            for(info in geo_info[x]){
              if(geo_info[x][info]==undefined || info == 'org' || info == 'postal' || info=='hostname'){
                continue;
              }
              if(info=='ip'){
                if(geo_info[x]['hostname']==undefined){
                  content = '<b>'+geo_info[x]['ip']+'</b>'+content;  
                }
                else{
                  content = '<b>'+geo_info[x]['ip']+ '</b><br>'+geo_info[x]['hostname']+'<br>'+content;
                }
              }else if(info=='country'){
                content +='<br><i class="famfamfam-flag-'+(geo_info[x]['country']).toLowerCase()+'"></i> '+(geo_info[x]['country']);
              }else{
                content += '<br>'+geo_info[x][info];
              }
            }
            var info = new google.maps.InfoWindow({
              content :
              content +'<br>'+markers[latlng]
            });
            google.maps.event.addListener(marker, 'click', (function(marker,x){
              return function(){
                info.open(map,marker);
              }
            })(marker,x));
          }
          map.fitBounds(bounds);
        }
    $('.expand').click(function(){
      if(this.innerHTML == "Expand"){
        this.innerHTML = "Collapse";
       }else{
        this.innerHTML = "Expand";
       }
      $(this.previousElementSibling).slideToggle('slow');
    });
  </script>
  {% if API_KEY %}
  <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap" async defer></script>
  {%endif%}
  {%endif%}
</body>
</html>
