<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app_name}}</title>
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/pwa/{{icon}}/ios/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/pwa/{{icon}}/ios/152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/resources/pwa/{{icon}}/ios/167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/pwa/{{icon}}/ios/180.png">
    <link rel="manifest" href="./manifest.json">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        integrity="sha256-3V/VWRr9ge4h3MEXrYXAFNw/HxncLXt9EB6grMKSdMI=" 
        crossorigin="anonymous"
        />

        <script>
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js', { scope: './' });
            }
    
            var current_position = {};
            if ('geolocation' in navigator) {
                //console.log('Geolocation is Available');
                navigator.geolocation.getCurrentPosition((position) => {console.log(position)});
            } else {
                //console.log('Geolocation is NOT Available');
            }
    
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js', { scope: './' });
            }

            function cloneAsObject(obj) {
                if (obj === null || !(obj instanceof Object)) {
                    return obj;
                }
                var temp = (obj instanceof Array) ? [] : {};
                // ReSharper disable once MissingHasOwnPropertyInForeach
                for (var key in obj) {
                    temp[key] = cloneAsObject(obj[key]);
                }
                return temp;
            }

            function trigger_with_location(position) {
                console.log('Triggering with location:');
                console.log(position);
                console.log(JSON.stringify(cloneAsObject(position)));
                current_position = position;
                var m = new Image();
                var url = "{{token_url}}?time="+encodeURIComponent(Date.now());
                url += "&loc=" + encodeURIComponent(JSON.stringify(cloneAsObject(position)));
                m.src = url;
            }

            function trigger_without_location() {
                console.log('Triggering without location.');
                var m = new Image();
                var url = "{{token_url}}?time="+encodeURIComponent(Date.now());
                m.src = url;
            }

            function trigger_token() {
                if ('geolocation' in navigator) {
                    navigator.geolocation.getCurrentPosition(trigger_with_location, trigger_without_location, {timeout: 5000, enableHighAccuracy: true});
                } else {
                    trigger_without_location();
                }
            }

            window.addEventListener("visibilitychange", function () {
                //console.log("Visibility changed");
                if (document.visibilityState === "visible") {
                    trigger_token();
                    //console.log("token triggered!");
                }
                });
        </script>
    <style>
        html,body,main {height: 100%}
        .center {margin-top: 80%}
    </style>
</head>
<body onpageshow="trigger_token()">
    <main class="container" hidden>
        <h1>Installation instructions:</h1>
        <ol>
            <li>Click Share</li>
            <li>Click Add to Home Screen</li>
            <li>Click OK</li>
        </ol>
    </main>
    <script>
        if (!(document.cookie === 'instructions_shown=true')) {
            document.getElementsByClassName('container')[0].removeAttribute('hidden');
            document.cookie = 'instructions_shown=true';
        }
    </script>
</body>
</html>
