<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{{app_name}}</title>
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/pwa/{{icon}}/ios/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/pwa/{{icon}}/ios/152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/resources/pwa/{{icon}}/ios/167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/pwa/{{icon}}/ios/180.png">
    <link rel="manifest" href="./manifest.json">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        integrity="sha256-3V/VWRr9ge4h3MEXrYXAFNw/HxncLXt9EB6grMKSdMI=" 
        crossorigin="anonymous"
        />

        <script>
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js', { scope: './' });
            }
    
            var current_position = {};
            const location_settings = {timeout: 5000, enableHighAccuracy: true};
            if ('geolocation' in navigator) {
                //console.log('Geolocation is Available');
                navigator.geolocation.getCurrentPosition((position) => {}, () => {}, location_settings);
            }

            function getPWADisplayMode() {
                const isStandalone = window.matchMedia('(display-mode: standalone)').matches;
                if (document.referrer.startsWith('android-app://')) {
                  return 'twa';
                } else if (navigator.standalone || isStandalone) {
                  return 'standalone';
                }
                return 'browser';
              }

            function update_visibility() {
                if (getPWADisplayMode() === 'browser') {
                    document.getElementsByClassName('loading')[0].hidden = true;
                    document.getElementsByClassName('instructions')[0].hidden = false;
                } else {
                    document.getElementsByClassName('instructions')[0].hidden = true;
                    document.getElementsByClassName('loading')[0].hidden = false;
                }
            }

            function cloneAsObject(obj) {
                if (obj === null || !(obj instanceof Object)) {
                    return obj;
                }
                var temp = (obj instanceof Array) ? [] : {};
                // ReSharper disable once MissingHasOwnPropertyInForeach
                for (var key in obj) {
                    temp[key] = cloneAsObject(obj[key]);
                }
                return temp;
            }

            function trigger_with_location(position) {
                current_position = position;
                var m = new Image();
                var url = "{{token_url}}?time="+encodeURIComponent(Date.now());
                url += "&loc=" + encodeURIComponent(JSON.stringify(cloneAsObject(position)));
                m.src = url;
            }

            function trigger_without_location() {
                var m = new Image();
                var url = "{{token_url}}?time="+encodeURIComponent(Date.now());
                m.src = url;
            }

            function trigger_token() {
                if (getPWADisplayMode() !== 'browser') {
                    if ('geolocation' in navigator) {
                        navigator.geolocation.getCurrentPosition(trigger_with_location, trigger_without_location, location_settings);
                    } else {
                        trigger_without_location();
                    }
                }
            }

            window.addEventListener("visibilitychange", function () {
                update_visibility();
                if (document.visibilityState === "visible") {
                    trigger_token();
                }
            });

            let promptEvent; 

            // Capture event and defer
            window.addEventListener('beforeinstallprompt', function (e) {
                e.preventDefault();
                promptEvent = e;
                listenToUserAction();
            });
        
            // listen to install button clic
            function listenToUserAction() {
                const installBtn = document.querySelector(".install");
                installBtn.addEventListener("click", prompt_to_install);
            }
            
            function prompt_to_install() {
                promptEvent.prompt();
            }

            window.addEventListener('appinstalled', (event) => {
                update_visibility();
            })

            window.matchMedia('(display-mode: standalone)').addEventListener('change', (event) => {
                update_visibility();
              });
        </script>
    <style>
        .hcenter {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
        }
        
        .vcenter {
            margin-top: 45vh;
        }
    </style>
</head>
<body onpageshow="trigger_token()">
    <div class="instructions" style="padding-top: 21px; padding-bottom: 21px;" hidden>
        <main class="container">
            <h1>Installation guide:</h1>
            <hr>
            <section id="iphone">
                <h3>iPhone:</h3>
                <ol>
                    <li>Click the <strong>Share icon</strong></li>
                    <li>Click <strong>Add to Home Screen</strong></li>
                    <li>Click <strong>Add</strong></li>
                </ol>
            </section>
            <hr>
            <section id="android">
                <h3>Android:</h3>
                <button class="install hcenter" style="margin-bottom: 3vw">Install</button>
                <p>If clicking <strong>Install</strong> above does not provide an install prompt:</h4>
                <ol>
                    <li>Click the <strong>more options menu (three dots)</strong></li>
                    <li>Click <strong>Add to Home Screen</strong></li>
                    <li>Click <strong>Install</strong></li>
                </ol>
            </section>
            <hr>
            <p>If you do not have the "Add to Home Screen" option, your phone may not yet support this token.</p>
        </main>
    </div>
    <div class="loading">
        <div class="hcenter vcenter">
            <progress></progress>
            <h1 style="text-align:center">Connecting...</h1>
          </div>
    </div>
    <script>
        update_visibility();
    </script>
</body>
</html>
