<html>

<head>
    <title>Fortune</title>
    <link rel="icon" type="image/png" href="/resources/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="outer-div">
        <div id="decryption">
            <form style="display: none" id="decrypt_form">
                <label for="secret_key">Secret Key</label>
                <input name="secret_key" id="secret_key" />
                <button>Decrypt</button>
            </form>
            <noscript>
                You must have javascript enabled to decrypt
            </noscript>
            <p id="note_ciphertext">{{note_ciphertext}}</p>
            <p id="initialization_vector_b64">{{initialization_vector}}</p>
        </div>
        <div id="note_output" style="display: none;">
            <p id="note_text">{{note}}</p>
        </div>
    </div>
    <script>
        function onsubmit(e) {
            e.preventDefault();
            console.log("Doing decryption");

            let secret_key = document.getElementById("secret_key").value;
            do_decryption(secret_key, ciphertext)
        }

        let initialization_vector_b64 = document.getElementById("initialization_vector_b64").innerHTML;
        let ciphertext = document.getElementById("note_ciphertext").innerHTML;
        let form = document.getElementById("decrypt_form");
        form.onsubmit = onsubmit;
        form.style.display = "block";

        async function do_decryption(secret_key) {
            let key_arraybuffer = Uint8Array.from(atob(secret_key), c => c.charCodeAt(0))
            let key =
                await window.crypto.subtle.importKey(
                    "raw", //can be "jwk" or "raw"
                    key_arraybuffer,
                    {   //this is the algorithm options
                        name: "AES-GCM",
                    },
                    false, //whether the key is extractable (i.e. can be used in exportKey)
                    ["decrypt"]
                );
            let data = Uint8Array.from(atob(ciphertext), c => c.charCodeAt(0));
            console.log({data})

            let initialization_vector = Uint8Array.from(atob(initialization_vector_b64), c => c.charCodeAt(0));
            let plaintext_arraybuffer =
                await window.crypto.subtle.decrypt(
                    {
                        name: "AES-GCM",
                        iv: initialization_vector,
                        tagLength: 128, //The tagLength you used to encrypt (if any)
                    },
                    key, //from generateKey or importKey above
                    data //ArrayBuffer of the data
                )
                    .catch(function (err) {
                        console.error(err);
                    });
            let plaintext = new TextDecoder().decode(plaintext_arraybuffer);
            document.getElementById("note_text").innerText = plaintext;
            document.getElementById("decryption").style.display = "none";
            document.getElementById("note_output").style.display = "block";
        }

        let fragmentParams = new URLSearchParams(document.location.hash.replace("#","?"))
        if(fragmentParams.has("secret_key")) {
            let secret_key = fragmentParams.get("secret_key")
            do_decryption(secret_key);
        }
    </script>
</body>

</html>